# Graficos de notas de estudiantes por materia

In [84]:
import plotly.express as px
import plotly.graph_objects as go

In [1]:
segment_plain = {'CUARTO 401 - 3':'CUARTO', 'CUARTO 402 - 3':'CUARTO', 'CUARTO 403 - 3':'CUARTO',
       'PRIMERO 101 - 3':'PRIMERO', 'PRIMERO 102 - 3':'PRIMERO', 'PRIMERO 103 - 3':'PRIMERO',
       'QUINTO 501 - 3':'QUINTO', 'QUINTO 502 - 3':'QUINTO', 'QUINTO 503 - 3':'QUINTO',
       'SEGUNDO 201 - 3':'SEGUNDO', 'SEGUNDO 202 - 3':'SEGUNDO', 'SEGUNDO 203 - 3':'SEGUNDO',
       'TERCERO 301 - 3':'TERCERO', 'TERCERO 302 - 3':'TERCERO', 'TERCERO 303 - 3':'TERCERO',
       'CUARTO 401 - 4':'CUARTO', 'CUARTO 402 - 4':'CUARTO', 'PRIMERO 101 - 4':'PRIMERO',
       'PRIMERO 102 - 4':'PRIMERO', 'QUINTO 501 - 4':'QUINTO', 'QUINTO 502 - 4':'QUINTO',
       'SEGUNDO 201 - 4':'SEGUNDO', 'SEGUNDO 202 - 4':'SEGUNDO', 'SEGUNDO 203 - 4':'SEGUNDO',
       'TERCERO 301 - 4':'TERCERO', 'TERCERO 302 - 4':'TERCERO', 'TERCERO 303 - 4':'TERCERO'}

In [2]:
maping =  {'subject_1-nota_y':"Ciencias naturales y educación ambiental",
			'subject_2-nota':'Ciencias sociales, historia, geografía, constitución política y democracia',
			'subject_3-nota':"Educación artística y Cultural",
			'subject_4-nota':"Educación ética y en valores humanos",
			'subject_5-nota':"Educación física,  recreación y deportes",
			'subject_6-nota':"Educación religiosa. ",
			'subject_7-nota':"Humanidades, lengua castellana",
			'subject_8-nota':"Idioma extranjero  Inglés",
			'subject_9-nota':"Matemáticas",
			'subject_10-nota':"Sensibilización Pedagógica",
			'subject_11-nota':"Tecnología e informática"}

In [3]:
import pandas as pd
import datetime

segment_plain = {'CUARTO 401 - 3':'CUARTO', 'CUARTO 402 - 3':'CUARTO', 'CUARTO 403 - 3':'CUARTO',
       'PRIMERO 101 - 3':'PRIMERO', 'PRIMERO 102 - 3':'PRIMERO', 'PRIMERO 103 - 3':'PRIMERO',
       'QUINTO 501 - 3':'QUINTO', 'QUINTO 502 - 3':'QUINTO', 'QUINTO 503 - 3':'QUINTO',
       'SEGUNDO 201 - 3':'SEGUNDO', 'SEGUNDO 202 - 3':'SEGUNDO', 'SEGUNDO 203 - 3':'SEGUNDO',
       'TERCERO 301 - 3':'TERCERO', 'TERCERO 302 - 3':'TERCERO', 'TERCERO 303 - 3':'TERCERO',
       'CUARTO 401 - 4':'CUARTO', 'CUARTO 402 - 4':'CUARTO', 'PRIMERO 101 - 4':'PRIMERO',
       'PRIMERO 102 - 4':'PRIMERO', 'QUINTO 501 - 4':'QUINTO', 'QUINTO 502 - 4':'QUINTO',
       'SEGUNDO 201 - 4':'SEGUNDO', 'SEGUNDO 202 - 4':'SEGUNDO', 'SEGUNDO 203 - 4':'SEGUNDO',
       'TERCERO 301 - 4':'TERCERO', 'TERCERO 302 - 4':'TERCERO', 'TERCERO 303 - 4':'TERCERO',
       'PRIMERO 104 - 3':'PRIMERO', 'PRIMERO 103 - 4':'PRIMERO', 'CUARTO 1 - 3':'CUARTO',
       'CUARTO 2 - 3':'CUARTO', 'CUARTO 3 - 3':'CUARTO', 'PRIMERO 1 - 3':'PRIMERO', 
       'PRIMERO 2 - 3':'PRIMERO','PRIMERO 3 - 3':'PRIMERO', 'QUINTO 1 - 3':'QUINTO',
       'QUINTO 3 - 3':'QUINTO', 'SEGUNDO 1 - 3':'SEGUNDO','SEGUNDO 2 - 3':'SEGUNDO', 
       'SEGUNDO 3 - 3':'SEGUNDO', 'SEGUNDO 4 - 3':'SEGUNDO', 'TERCERO 1 - 3':'TERCERO',
       'TERCERO 2 - 3':'TERCERO', 'TERCERO 3 - 3':'TERCERO', 'CUARTO 1 - 4':'CUARTO', 
        'CUARTO 2 - 4':'CUARTO','PRIMERO 1 - 4':'PRIMERO', 'PRIMERO 2 - 4':'PRIMERO', 
        'PRIMERO 3 - 4':'PRIMERO', 'SEGUNDO 1 - 4':'SEGUNDO','SEGUNDO 2 - 4':'SEGUNDO', 
        'SEGUNDO 3 - 4':'SEGUNDO', 'TERCERO 1 - 4':'TERCERO', 'TERCERO 2 - 4':'TERCERO',
       'QUINTO 2 - 3':'QUINTO', 'QUINTO 1 - 4':'QUINTO', 'QUINTO 2 - 4':'QUINTO', 
                 'CUARTO 403 - 4':'CUARTO'}

maping_primaria_nuevo =  {'subject_1-nota_y':"Ciencias naturales",
			'subject_2-nota':'Ciencias sociales',
			'subject_3-nota':"Educación artística",
			'subject_4-nota':"Educación ética",
			'subject_5-nota':"Educación física",
			'subject_6-nota':"Educación religiosa. ",
			'subject_7-nota':"Lengua castellana",
			'subject_8-nota':"Idioma extranjero",
			'subject_9-nota':"Matemáticas",
			'subject_10-nota':"Sensibilización Pedagógica",
			'subject_11-nota':"Tecnología e informática"}

def data():
    df = pd.read_csv('data.csv')
    filtro_notas = {'AB':'2', 'AA':'4', 'NA':'1', 'AM':'3'}
    df = df.replace(filtro_notas)
    df['fecha'] = pd.to_datetime(df['fecha'])
    df['nombre'] = df.nombre.str.strip()
    df['segment'] = df.segment.map(segment_plain)
    df_2 = df[df.fecha=='2020-09-01'].reset_index().drop('index',axis=1)
    n=0
    for i in df[df.fecha=='2020-12-01'].index:
        for j in range(4,17):
            df.iloc[i,j:j+1] = df_2.iloc[n,j:j+1]
        n=n+1
    df=df.fillna(method='bfill')
    df['periodo'] = df.periodo.map({'p1':'1','p2':'2','p3':'3','p4':'4'})
    df['periodo']= df['periodo'].astype(int)
    return df

def periodos(fecha,df):
    '''
    Filtra la información de los tres periodos anteriores a la fecha escogida. Luego asigna como p4
    al periodo de la fecha escogida, este será el target, y modifica las asignaciones de los periodos
    para que vaya hacia atras como periodo p2, luego el p2 y por ultimo el p1. Con esto
    garantizamos la estandarización, de p1 a p3 como datos de entrada para predecir p4.
    PARAMETROS: Fecha en la cual se quiere realizar que vamos a utilizar como target para entrenar el modelo
    RETORNA: DataFrame filtrado con los periodos en orden.
    '''
    fecha_prediccion = pd.to_datetime(fecha)# aca se escoge una fecha en particular
    df = df[df.nombre.isin(df[df.fecha == fecha_prediccion].nombre)]
    fecha_inicio_prediccion = fecha_prediccion - datetime.timedelta(weeks=52) # se obtiene la fecha para incluir los tres periodos anteriores a la fecha elegida para la predicción
    df1 = df[(df.fecha>= fecha_inicio_prediccion) & (df.fecha<=fecha_prediccion)]# se filtra entre las fechas escogidas
    if fecha_prediccion.month == 3:
        df_final = df1.replace({'p1':'p4','p4':'p3','p3':'p2','p2':'p1'})
    elif fecha_prediccion.month == 6:
        df_final = df1.replace({'p2':'p4','p1':'p3','p4':'p2','p3':'p1'})
    elif fecha_prediccion.month == 9:
        df_final = df1.replace({'p3':'p4','p2':'p3','p1':'p2','p4':'p1'})
    else:
        df_final = df1
    return df_final

def tableSubject(fecha,df):
    '''
    esta función retornara un dataframe que sera usado para graficar las notas de un 
    estudiante en específico para todas las materias
    '''
    df_periodo=periodos(fecha,df)
    df_nueva = df_periodo.melt(id_vars=['nombre', 'fecha', 'segment','periodo'], 
                               value_vars=['subject_1-nota_y','subject_2-nota', 'subject_3-nota', 
                                           'subject_4-nota', 'subject_5-nota','subject_6-nota', 
                                           'subject_7-nota', 'subject_8-nota', 'subject_9-nota','subject_10-nota', 
                                           'subject_11-nota'],value_name='grade',var_name='subject')
    return df_nueva


df = data()


df_final = pd.DataFrame(columns=['nombre', 'fecha', 'segment', 'periodo', 'subject', 'grade'])

lista_fecha_periodos = ['2021-03-01','2021-06-01','2021-09-01','2021-12-01','2020-03-01','2020-06-01','2020-09-01',
                        '2020-12-01','2019-03-01','2019-06-01','2019-09-01','2019-12-01','2018-12-01']
for fecha in lista_fecha_periodos:
    fecha_prediccion = pd.to_datetime(fecha)
    df_periodo=periodos(fecha_prediccion,df)
    tabla = tableSubject(fecha_prediccion,df_periodo)
    df_final = pd.concat([df_final, tabla])

df_final['subject'] = df_final.subject.map(maping_primaria_nuevo)
df_final

,nombre,fecha,segment,periodo,subject,grade
0,ZAPATA FORONDA MARIANA,2021-03-01,CUARTO,1,Ciencias naturales,3.0
1,GONZALEZ GONZALEZ MATIAS,2021-03-01,CUARTO,1,Ciencias naturales,3.0
2,BARREIRO SANCHEZ MATIAS,2021-03-01,CUARTO,1,Ciencias naturales,3.0
3,BALLESTEROS MARQUEZ JUAN MANUEL,2021-03-01,CUARTO,1,Ciencias naturales,3.0
4,AGUILAR GARCIA SANTIAGO,2021-03-01,CUARTO,1,Ciencias naturales,3.0
...,...,...,...,...,...,...
46415,ALZATE MEJIA THOMAS,2018-12-01,TERCERO,4,Tecnología e informática,3.0
46416,TANGARIFE TORRES JACOBO,2018-03-01,TERCERO,1,Tecnología e informática,3.0
46417,TANGARIFE TORRES JACOBO,2018-06-01,TERCERO,2,Tecnología e informática,3.0
46418,TANGARIFE TORRES JACOBO,2018-09-01,TERCERO,3,Tecnología e informática,4.0
46419,TANGARIFE TORRES JACOBO,2018-12-01,TERCERO,4,Tecnología e informática,4.0

In [4]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 564520 entries, 0 to 46419
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   nombre   564520 non-null  object
 1   fecha    564520 non-null  datetime64[ns]
 2   segment  564520 non-null  object
 3   periodo  564520 non-null  object
 4   subject  564520 non-null  object
 5   grade    564520 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 30.1+ MB

In [89]:
df_graph = tableSubject(fecha,df)

In [93]:
def graphSubjectHistorico(df,df_quantil,nombre,materia):
    df['subject'] = df.subject.map(maping_primaria_nuevo)
    actual_segment = df[df.nombre == nombre].segment.unique()[0]
    df = df[(df.segment == actual_segment) & (df.subject == materia)]
    df_quantil = df_quantil[(df_quantil.segment == actual_segment) & (df_quantil.subject == materia)]
    quantiles = df_quantil.groupby('periodo').grade.quantile([0.1,0.4,0.8])
    df = df[df.nombre == nombre]
    df = df[['periodo','subject','grade']]
    fig = px.line(df, x="periodo", y="grade", color='subject', title='Grades per student: '+nombre)
    fig.update_yaxes(range=[0, 5])
    fig.update_xaxes(range=[0, 5])
    fig.add_scatter(y=[quantiles.iloc[0],quantiles.iloc[3],quantiles.iloc[6],quantiles.iloc[9]], x=[1, 2, 3,4], mode="markers",marker=dict(size=10, color="MediumPurple"),name="Quantil-"+str(quantiles.index[0][1]))
    fig.add_scatter(y=[quantiles.iloc[1],quantiles.iloc[4],quantiles.iloc[7],quantiles.iloc[10]], x=[1, 2, 3,4], mode="markers",marker=dict(size=10, color="LightSeaGreen"),name="Quantil-"+str(quantiles.index[1][1]))
    fig.add_scatter(y=[quantiles.iloc[2],quantiles.iloc[5],quantiles.iloc[8],quantiles.iloc[11]], x=[1, 2, 3,4], mode="markers",marker=dict(size=10, color="RoyalBlue"),name="Quantil-"+str(quantiles.index[2][1]))

    fig.show()

In [94]:
fecha = '2021-12-01'
nombre = 'GUEVARA ROJAS SAMUEL'
materia = 'Ciencias naturales'

In [96]:
graphSubjectHistorico(df_graph,df_final,nombre,materia)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
fecha = '2021-12-01'
nombre = 'GUEVARA ROJAS SAMUEL'
materia = 'subject_1-nota_y'
df_graph = tableSubject(fecha,df)
graphSubjectActual(df_graph,nombre,materia)

In [ ]:
def graphSubjectActual(df,nombre,materia):
    actual_segment = df[df.nombre == nombre].segment.unique()[0]
    df = df[(df.segment == actual_segment) & (df.subject == materia)]
    quantiles = df.groupby('periodo').grade.quantile([0.08,0.4,0.8])
    df = df[df.nombre == nombre]
    df = df[['periodo','subject','grade']]
    df['subject'] = df.subject.map(maping_primaria_nuevo)
    fig = px.line(df, x="periodo", y="grade", color='subject', title='Grades per student: '+nombre)
    fig.update_yaxes(range=[0, 5])
    fig.update_xaxes(range=[0, 5])
    fig.add_scatter(y=[quantiles.iloc[0],quantiles.iloc[3],quantiles.iloc[6],quantiles.iloc[9]], x=[1, 2, 3,4], mode="markers",marker=dict(size=10, color="MediumPurple"),name="Quantil-"+str(quantiles.index[0][1]))
    fig.add_scatter(y=[quantiles.iloc[1],quantiles.iloc[4],quantiles.iloc[7],quantiles.iloc[10]], x=[1, 2, 3,4], mode="markers",marker=dict(size=10, color="LightSeaGreen"),name="Quantil-"+str(quantiles.index[1][1]))
    fig.add_scatter(y=[quantiles.iloc[2],quantiles.iloc[5],quantiles.iloc[8],quantiles.iloc[11]], x=[1, 2, 3,4], mode="markers",marker=dict(size=10, color="RoyalBlue"),name="Quantil-"+str(quantiles.index[2][1]))

    fig.show()

# Código para realizar data que se usara para crear el modelo

In [12]:
import pandas as pd
import datetime

def data():
    df = pd.read_csv('data.csv')
    filtro_notas = {'AB':'2', 'AA':'4', 'NA':'1', 'AM':'3'}
    df = df.replace(filtro_notas)
    df['fecha'] = pd.to_datetime(df['fecha'])
    df['nombre'] = df.nombre.str.strip()
    #df['segment'] = df.segment.map(segment_plain)
    df_2 = df[df.fecha=='2020-09-01'].reset_index().drop('index',axis=1)
    n=0
    for i in df[df.fecha=='2020-12-01'].index:
        for j in range(4,17):
            df.iloc[i,j:j+1] = df_2.iloc[n,j:j+1]
        n=n+1
    df=df.fillna(method='bfill')
    #df['periodo'] = df.periodo.map({'p1':'1','p2':'2','p3':'3','p4':'4'})
    #df['periodo']= df['periodo'].astype(int)
    return df

def periodos(fecha,df):
    '''
    Filtra la información de los tres periodos anteriores a la fecha escogida. Luego asigna como p4
    al periodo de la fecha escogida, este será el target, y modifica las asignaciones de los periodos
    para que vaya hacia atras como periodo p2, luego el p2 y por ultimo el p1. Con esto
    garantizamos la estandarización, de p1 a p3 como datos de entrada para predecir p4.
    PARAMETROS: Fecha en la cual se quiere realizar que vamos a utilizar como target para entrenar el modelo
    RETORNA: DataFrame filtrado con los periodos en orden.
    '''
    fecha_prediccion = pd.to_datetime(fecha)# aca se escoge una fecha en particular
    df = df[df.nombre.isin(df[df.fecha == fecha_prediccion].nombre)]
    fecha_inicio_prediccion = fecha_prediccion - datetime.timedelta(weeks=52) # se obtiene la fecha para incluir los tres periodos anteriores a la fecha elegida para la predicción
    df1 = df[(df.fecha>= fecha_inicio_prediccion) & (df.fecha<=fecha_prediccion)]# se filtra entre las fechas escogidas
    if fecha_prediccion.month == 3:
        df_final = df1.replace({'p1':'p4','p4':'p3','p3':'p2','p2':'p1'})
    elif fecha_prediccion.month == 6:
        df_final = df1.replace({'p2':'p4','p1':'p3','p4':'p2','p3':'p1'})
    elif fecha_prediccion.month == 9:
        df_final = df1.replace({'p3':'p4','p2':'p3','p1':'p2','p4':'p1'})
    else:
        df_final = df1
    return df_final  

def finalDataFrame(df,fecha):
    fecha_prediccion = pd.to_datetime(fecha)
    dict_segment = df[df.fecha == fecha_prediccion][['nombre','segment']].set_index('nombre').T.to_dict('list')
    df2=pd.pivot_table(df,index='nombre',columns='periodo',values=['subject_1-nota_y',
       'subject_2-nota', 'subject_3-nota', 'subject_4-nota', 'subject_5-nota',
       'subject_6-nota', 'subject_7-nota', 'subject_8-nota', 'subject_9-nota',
       'subject_10-nota', 'subject_11-nota'],dropna=False)
    df2.columns = df2.columns.map('_'.join)
    df2['fecha'] = fecha_prediccion
    df2['segment'] = 'NAN'
    df2 = df2.reset_index()   
    names = df2.nombre.unique()
    
    for i in range(len(df2.nombre)):
        df2.segment[i] = dict_segment[df2.nombre[i]][0]
        
    return df2

df_final = pd.DataFrame(columns=['nombre', 'subject_1-nota_y_p1', 'subject_1-nota_y_p2',
       'subject_1-nota_y_p3', 'subject_1-nota_y_p4', 'subject_2-nota_p1',
       'subject_2-nota_p2', 'subject_2-nota_p3', 'subject_2-nota_p4',
       'subject_3-nota_p1', 'subject_3-nota_p2', 'subject_3-nota_p3',
       'subject_3-nota_p4', 'subject_4-nota_p1', 'subject_4-nota_p2',
       'subject_4-nota_p3', 'subject_4-nota_p4', 'subject_5-nota_p1',
       'subject_5-nota_p2', 'subject_5-nota_p3', 'subject_5-nota_p4',
       'subject_6-nota_p1', 'subject_6-nota_p2', 'subject_6-nota_p3',
       'subject_6-nota_p4', 'subject_7-nota_p1', 'subject_7-nota_p2',
       'subject_7-nota_p3', 'subject_7-nota_p4', 'subject_8-nota_p1',
       'subject_8-nota_p2', 'subject_8-nota_p3', 'subject_8-nota_p4',
       'subject_9-nota_p1', 'subject_9-nota_p2', 'subject_9-nota_p3',
       'subject_9-nota_p4', 'subject_10-nota_p1', 'subject_10-nota_p2',
       'subject_10-nota_p3', 'subject_10-nota_p4', 'subject_11-nota_p1',
       'subject_11-nota_p2', 'subject_11-nota_p3', 'subject_11-nota_p4',
       'fecha'])
lista_fecha_periodos = ['2021-03-01','2021-06-01','2021-09-01','2021-12-01','2020-03-01','2020-06-01','2020-09-01',
                        '2020-12-01','2019-03-01','2019-06-01','2019-09-01','2019-12-01','2018-12-01']
df = data()
for fecha in lista_fecha_periodos:
    df_periodo=periodos(fecha,df)
    df_pivot = finalDataFrame(df_periodo,fecha)
    df_final = pd.concat([df_final, df_pivot])
df_final

/var/folders/k7/ncn3z0qs4h7f50pl2pw0l20r0000gp/T/ipykernel_84978/2601919268.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.segment[i] = dict_segment[df2.nombre[i]][0]

,nombre,subject_1-nota_y_p1,subject_1-nota_y_p2,subject_1-nota_y_p3,subject_1-nota_y_p4,subject_2-nota_p1,subject_2-nota_p2,subject_2-nota_p3,subject_2-nota_p4,subject_3-nota_p1,...,subject_10-nota_p1,subject_10-nota_p2,subject_10-nota_p3,subject_10-nota_p4,subject_11-nota_p1,subject_11-nota_p2,subject_11-nota_p3,subject_11-nota_p4,fecha,segment
0,ACEVEDO MOLANO MATIAS,3.0,4.0,NaN,4.0,3.0,4.0,NaN,4.0,3.0,...,3.0,3.0,NaN,3.0,3.0,3.0,NaN,3.0,2021-03-01,SEGUNDO 201 - 3
1,ACEVEDO MOLANO THOMAS,3.0,4.0,NaN,4.0,3.0,3.0,NaN,4.0,3.0,...,3.0,3.0,NaN,3.0,3.0,3.0,NaN,3.0,2021-03-01,QUINTO 501 - 3
2,ACOSTA BASTO SARA SOFIA,3.0,3.0,NaN,3.0,3.0,3.0,NaN,3.0,3.0,...,3.0,3.0,NaN,3.0,3.0,3.0,NaN,3.0,2021-03-01,TERCERO 301 - 4
3,AGUDELO ARANGO JUAN MANUEL,3.0,3.0,NaN,3.0,3.0,3.0,NaN,3.0,3.0,...,3.0,3.0,NaN,3.0,3.0,3.0,NaN,3.0,2021-03-01,SEGUNDO 203 - 3
4,AGUDELO CARDONA GUADALUPE,3.0,3.0,NaN,3.0,4.0,3.0,NaN,3.0,4.0,...,3.0,3.0,NaN,4.0,4.0,4.0,NaN,4.0,2021-03-01,TERCERO 302 - 4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050,ZAPATA ZAPATA JUAN FELIPE,4.0,4.0,4.0,4.0,4.0,3.0,4.0,3.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,2018-12-01,TERCERO 301 - 4
1051,ZULUAGA ACEVEDO NATALIA,4.0,4.0,4.0,3.0,4.0,4.0,2.0,4.0,3.0,...,4.0,4.0,3.0,4.0,4.0,3.0,2.0,3.0,2018-12-01,CUARTO 403 - 4
1052,ZULUAGA DUQUE MANUELA,4.0,2.0,2.0,4.0,4.0,4.0,2.0,2.0,3.0,...,3.0,3.0,4.0,2.0,3.0,4.0,4.0,4.0,2018-12-01,TERCERO 301 - 3
1053,ZULUAGA GAVIRIA MELANY,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,2018-12-01,CUARTO 402 - 3
1054,ZULUAGA ORTEGA LAUREN SOFIA,4.0,4.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0,...,3.0,3.0,3.0,3.0,4.0,3.0,3.0,3.0,2018-12-01,SEGUNDO 203 - 3

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17144 entries, 0 to 17143
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        17144 non-null  int64
 1   nombre            17144 non-null  object
 2   fecha             17144 non-null  datetime64[ns]
 3   segment           17144 non-null  object
 4   periodo           17144 non-null  object
 5   subject_1-nota_x  17144 non-null  float64
 6   subject_1-nota_y  17144 non-null  float64
 7   subject_2-nota    17144 non-null  float64
 8   subject_3-nota    17144 non-null  float64
 9   subject_4-nota    17144 non-null  float64
 10  subject_5-nota    17144 non-null  float64
 11  subject_6-nota    17144 non-null  float64
 12  subject_7-nota    17144 non-null  float64
 13  subject_8-nota    17144 non-null  float64
 14  subject_9-nota    17144 non-null  float64
 15  subject_10-nota   17144 non-null  float64
 16  subject_11-nota   17144 non-null  float64
dtypes: datetime64[ns](1), float64(12), int64(1), object(3)
memory usage: 2.2+ MB

# Filtros materias

In [11]:
df_final[df_final.fecha=='2020-12-01']

,nombre,subject_1-nota_y_p1,subject_1-nota_y_p2,subject_1-nota_y_p3,subject_1-nota_y_p4,subject_2-nota_p1,subject_2-nota_p2,subject_2-nota_p3,subject_2-nota_p4,subject_3-nota_p1,...,subject_10-nota_p1,subject_10-nota_p2,subject_10-nota_p3,subject_10-nota_p4,subject_11-nota_p1,subject_11-nota_p2,subject_11-nota_p3,subject_11-nota_p4,fecha,segment
0,ACEVEDO MOLANO MATIAS,3.0,3.0,4.0,NaN,3.0,3.0,4.0,NaN,3.0,...,3.0,3.0,3.0,NaN,3.0,3.0,3.0,NaN,2020-12-01,PRIMERO 101 - 3
1,ACEVEDO MOLANO THOMAS,4.0,3.0,4.0,NaN,4.0,3.0,3.0,NaN,3.0,...,4.0,3.0,3.0,NaN,3.0,3.0,3.0,NaN,2020-12-01,CUARTO 401 - 3
2,ACOSTA BASTO SARA SOFIA,4.0,3.0,3.0,NaN,4.0,3.0,3.0,NaN,3.0,...,3.0,3.0,3.0,NaN,4.0,3.0,3.0,NaN,2020-12-01,SEGUNDO 202 - 4
3,AGUDELO ARANGO JUAN MANUEL,3.0,3.0,3.0,NaN,3.0,3.0,3.0,NaN,4.0,...,4.0,3.0,3.0,NaN,3.0,3.0,3.0,NaN,2020-12-01,PRIMERO 103 - 3
4,AGUDELO CARDONA GUADALUPE,4.0,3.0,3.0,NaN,4.0,4.0,3.0,NaN,4.0,...,3.0,3.0,3.0,NaN,4.0,4.0,4.0,NaN,2020-12-01,SEGUNDO 202 - 4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1077,ZULUAGA GAVIRIA SEBASTIAN,4.0,3.0,3.0,NaN,3.0,3.0,3.0,NaN,4.0,...,3.0,3.0,3.0,NaN,4.0,3.0,3.0,NaN,2020-12-01,SEGUNDO 201 - 3
1078,ZULUAGA LOPEZ BRIAN,2.0,2.0,4.0,NaN,2.0,2.0,4.0,NaN,2.0,...,2.0,3.0,4.0,NaN,2.0,2.0,4.0,NaN,2020-12-01,PRIMERO 102 - 4
1079,ZULUAGA OROZCO MARIA CAMILA,4.0,3.0,4.0,NaN,4.0,4.0,4.0,NaN,4.0,...,4.0,4.0,4.0,NaN,3.0,4.0,4.0,NaN,2020-12-01,PRIMERO 103 - 4
1080,ZULUAGA ORTEGA LAUREN SOFIA,3.0,3.0,3.0,NaN,4.0,3.0,3.0,NaN,4.0,...,3.0,3.0,3.0,NaN,3.0,3.0,3.0,NaN,2020-12-01,CUARTO 403 - 3
1081,ZULUAGA SANCHEZ LUCIANA,4.0,3.0,3.0,NaN,3.0,3.0,3.0,NaN,3.0,...,3.0,3.0,3.0,NaN,3.0,3.0,3.0,NaN,2020-12-01,PRIMERO 104 - 3

In [21]:
maping_primaria =  {'subject_1-nota_y':"Ciencias naturales y educación ambiental",
			'subject_2-nota':'Ciencias sociales, historia, geografía, constitución política y democracia',
			'subject_3-nota':"Educación artística y Cultural",
			'subject_4-nota':"Educación ética y en valores humanos",
			'subject_5-nota':"Educación física,  recreación y deportes",
			'subject_6-nota':"Educación religiosa. ",
			'subject_7-nota':"Humanidades, lengua castellana",
			'subject_8-nota':"Idioma extranjero  Inglés",
			'subject_9-nota':"Matemáticas",
			'subject_10-nota':"Sensibilización Pedagógica",
			'subject_11-nota':"Tecnología e informática"}

In [43]:
maping_primaria_nuevo =  {'subject_1-nota_y':"Ciencias naturales",
			'subject_2-nota':'Ciencias sociales',
			'subject_3-nota':"Educación artística",
			'subject_4-nota':"Educación ética",
			'subject_5-nota':"Educación física",
			'subject_6-nota':"Educación religiosa. ",
			'subject_7-nota':"Lengua castellana",
			'subject_8-nota':"Idioma extranjero",
			'subject_9-nota':"Matemáticas",
			'subject_10-nota':"Sensibilización Pedagógica",
			'subject_11-nota':"Tecnología e informática"}

In [22]:
maping_segundaria_1 = {'subject_1':"Ciencias naturales y educación ambiental",
				'subject_2':'Ciencias sociales, historia, geografía, constitución política y democracia',
				'subject_3':"Educación artística y Cultural",
				'subject_4':"Educación ética y en valores humanos. ",
				'subject_5':"Educación física,  recreación y deportes",
				'subject_6':"Educación religiosa. ",
				'subject_7':"Humanidades, lengua castellana",
				'subject_8':"Idioma extranjero:  Inglés",
				'subject_9':"Idioma extranjero: Francés",
				'subject_10':"Matemáticas",
				'subject_11':"Sensibilización Pedagógica",
				'subject_12':"Tecnología e informática"}

In [44]:
maping_segundaria_nuevo_1 = {'subject_1':"Ciencias naturales",
				'subject_2':'Ciencias sociales',
				'subject_3':"Educación artística",
				'subject_4':"Educación ética",
				'subject_5':"Educación física",
				'subject_6':"Educación religiosa",
				'subject_7':"Lengua castellana",
				'subject_8':"Idioma extranjeros",
				'subject_10':"Matemáticas",
				'subject_11':"Sensibilización Pedagógica",
				'subject_12':"Tecnología e informática"}

In [23]:
maping_segundaria_2 = {'subject_1':"Ciencias naturales y educación ambiental",
				'subject_2':'Ciencias sociales, historia, geografía, constitución política y democracia',
				'subject_3':"Educación artística y Cultural: Práctica instrumental",
				'subject_4':"Educación ética y en valores humanos. ",
				'subject_5':"Educación física,  recreación y deportes",
				'subject_6':"Educación religiosa. ",
				'subject_7':"Filosofía",
				'subject_8':"Humanidades, lengua castellana",
				'subject_9':"Idioma extranjero:  Inglés",
				'subject_10':"Idioma extranjero: Francés",
				'subject_11':"Matemáticas",
				'subject_12':"Sensibilización Pedagógica",
				'subject_13':"Tecnología e informática"}

In [45]:
maping_segundaria_nueva_2 = {'subject_1':"Ciencias naturales",
				'subject_2':'Ciencias sociales',
				'subject_3':"Educación artística",
				'subject_4':"Educación ética",
				'subject_5':"Educación físicas",
				'subject_6':"Educación religiosa",
				'subject_8':"Lengua castellana",
				'subject_9':"Idioma extranjero",
				'subject_11':"Matemáticas",
				'subject_12':"Sensibilización Pedagógica",
				'subject_13':"Tecnología e informática"}